<div class="footer">
    <div class="container">
        <div class="icon">
            <img src="" alt="">
        </div>
        <div class="text"><p>{{ footer.text }}</p></div>
        <div class="list">
            <ul>
                <li>Github</li>
                <li>Linked In</li>
                <li>Email</li>
            </ul>
        </div>
        <div class="copyright"><p>{{ footer.copyright }}</p></div>
        <div class="framework-container">
            <div class="ftext">
                <p>Made with </p>
            </div>
            <div class="framework">
                <img src="../../assets/icons/angular.svg" alt="angular icon">
                <p>Angular</p>
            </div>
        </div>
    </div>
</div>