<div class="home-container">

    <div class="top-container">
        <div class="title-text black">
            {{ text.top.title }}
        </div>
        <div class="subtitle-text black">
            {{ text.top.subtitle }}
        </div>
        <div class="home-logo-container">
            <img src="{{ text.top.logoSrc }}" alt="red wolf logo" class="home-logo">
        </div>
    </div>
    
    <div class="middle-container">
        <div class="intro-section">
            <div class="intro-title-text white">
                <h1>{{ text.intro.title }}</h1>
                
            </div>
            <div class="intro-paragraph-text white">
                <p>{{ text.intro.paragraph }}</p>
            </div>
        </div>
    </div>

    <div class="technology-container">
        <div class="tech">
            <div class="icon-container">
                <mat-icon class="icon">{{ text.designer.matIcon }}</mat-icon>
            </div>
            <h1 class="title">
                {{ text.designer.title }}
            </h1>
            <p class="subtitle">
                {{ text.designer.subtitle }}
            </p>
            <div class="designer-third">
                <p class="third-title">
                    {{ text.designer.third.title }}
                </p>
                <p class="third-list">
                    {{ text.designer.third.list }}
                </p>
            </div>

            <div class="designer-fourth">
                <p class="fourth-title small-title">
                    {{ text.designer.fourth.title }}
                </p>
                <p class="fourth-list small-text">
                    {{ text.designer.fourth.list }}
                </p>
            </div>
        </div>
        <div class="tech">
            <div class="icon-container">
                <mat-icon class="icon">{{ text.frontend.matIcon }}</mat-icon>
            </div>
            <h1 class="title">
                {{ text.frontend.title }}
            </h1>
            <p class="subtitle">
                {{ text.frontend.subtitle }}
            </p>
            <div class="frontend-third">
                <p class="third-title">
                    {{ text.frontend.third.title }}
                </p>
                <p class="third-list">
                    {{ text.frontend.third.list }}
                </p>
            </div>

            <div class="frontend-fourth">
                <p class="fourth-title">
                    {{ text.frontend.fourth.title }}
                </p>
                <p class="fourth-list">
                    {{ text.frontend.fourth.list }}
                </p>
            </div>
        </div>
        <div class="tech">
            <div class="icon-container">
                <mat-icon class="icon">{{ text.backend.matIcon }}</mat-icon>
            </div>
            <h1 class="title">
                {{ text.backend.title }}
            </h1>
            <p class="subtitle">
                {{ text.backend.subtitle }}
            </p>
            <div class="backend-third">
                <p class="third-title">
                    {{ text.backend.third.title }}
                </p>
                <p class="third-list">
                    {{ text.backend.third.list }}
                </p>
            </div>

            <div class="backend-fourth">
                <p class="fourth-title">
                    {{ text.backend.fourth.title }}
                </p>
                <p class="fourth-list">
                    {{ text.backend.fourth.list }}
                </p>
            </div>
        </div>
        <div class="tech">
            <div class="icon-container">
                <mat-icon class="icon">{{ text.database.matIcon }}</mat-icon>
            </div>
            <h1 class="title">
                {{ text.database.title }}
            </h1>
            <p class="subtitle">
                {{ text.database.subtitle }}
            </p>
            <div class="database-third">
                <p class="third-title">
                    {{ text.database.third.title }}
                </p>
                <p class="third-list">
                    {{ text.database.third.list }}
                </p>
            </div>

            <div class="database-fourth">
                <p class="fourth-title">
                    {{ text.database.fourth.title }}
                </p>
                <p class="fourth-list">
                    {{ text.database.fourth.list }}
                </p>
            </div>
        </div>
    </div>

    <!-- Add work sections later -->
</div>