<div class="home-container">

    <div class="top-container">
        <div class="title-text black">
            {{ text.top.title }}
        </div>
        <div class="subtitle-text black">
            {{ text.top.subtitle }}
        </div>
        <div class="home-logo-container">
            <img src="../../assets/images/wolf.webp" alt="" class="home-logo">
        </div>
    </div>
    
    <div class="middle-container">
        <div class="intro-section">
            <div class="intro-title-text centered white">
                <h1>{{ text.intro.title }}</h1>
                
            </div>
            <div class="intro-paragraph-text centered white">
                <h2>{{ text.intro.paragraph }}</h2>
            </div>
        </div>
    </div>

    <div class="technology-container">
        <div class="designer">
            <div class="designer-title">
                {{ text.designer.title }}
            </div>
            <div class="designer-subtitle">
                {{ text.designer.subtitle }}
            </div>
            <div class="designer-third">
                <div class="third-title small-title">
                    {{ text.designer.third.title }}
                </div>
                <div class="third-list small-title">
                    {{ text.designer.third.list }}
                </div>
            </div>
        </div>
        <div class="frontend">

        </div>
        <div class="backend">

        </div>
        <div class="database">

        </div>
    </div>

</div>